<section class="twoPanes pastSuccess">
  <div class="noPadding">
    <section class="grid small">
      <figure>
        <img src="{{ site.data.var.teams }}/2015/coda.svg">
      </figure>
     <figure>
        <img src="{{ site.data.var.teams }}/2015/menoo.svg">
      </figure>
      <figure>
        <img src="{{ site.data.var.teams }}/2015/retake.svg">
      </figure>
      <figure>
        <img src="{{ site.data.var.teams }}/2015/jamstudy.svg">
      </figure>
      <figure>
        <img src="{{ site.data.var.teams }}/2015/esd.svg">
      </figure>
      <figure>
        <img src="{{ site.data.var.teams }}/2015/easydoor.svg">
      </figure>
      <figure>
        <img src="{{ site.data.var.teams }}/2015/waldo.svg">
      </figure>
      <figure>
        <img src="{{ site.data.var.teams }}/2015/polt.svg">
      </figure>
      <figure>
        <img src="{{ site.data.var.teams }}/2015/swimpal.svg">
      </figure>
    </section>
  </div>
  <div id="title" class="right">
    <h1>Past successes</h1>
    {% markdown copy/home/pastSuccesses.markdown %}
    <button class="red">Register now!</button>
  </div>
</section>
