<nav>
    <ul>
      <a href="{{ site.data.var.root }}/about/">
        <li>
          about
        </li>
      </a>
      
      <a href="{{ site.data.var.root }}/mentors/">
        <li>
          mentors
        </li>
      </a>
      
      <a href="{{ site.data.var.root }}/teams/">
        <li>
          teams
        </li>
      </a>
      
      <a href="{{ site.data.var.root }}/media/">
        <li>
          media
        </li>
      </a>
      
      
      <a href="{{ site.data.var.root }}/contact/">
        <li>
          contact
        </li>
      </a>
      
    </ul>
  </nav>
